<a href="https://colab.research.google.com/github/Pelaez11/_edd_2021/blob/master/12Oct2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
#Diccionario con listas y tuplas anidados
cliente_banc = {
    "ID": 1,
    "Nombre": ["Juan", "Antonio"],
    "Ap Paterno": "García",
    "Ap Materno": "García",
    "Teléfonos": {
                "Casa": 5538511299,
                "Celular": 5512294053,
                "Empleo": 5536987452
                },
    "Activo": True,
    "Balance": 234567.89,
    "Tarjetas":({"Tipo":"Débito", "Saldo" : 120000.00},
                  {"Tipo":"Crédito", "Saldo" : 3500.00})
}
#Diccionarios son mutables
print(cliente_banc)
print("¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡")
#cliente_banc["Balance"] = cliente:banc["Balance"] - 1000.89 / ó:
cliente_banc["Balance"] -= 1000.89
print(cliente_banc)
print("¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡")
#Las tuplas no es posible modificadar pero si reemplazar con una nueva
cliente_banc["Tarjetas"]= ({"Tipo":"Debito","Saldo":12000},
                        {"Tipo":"Crédito","Saldo":3500.0},
                        {"Tipo":"Crédito","Nivel":"Oro","Saldo":50000.0})

cliente_banc["Dirección"] = {"Calle":"Rancho Seco","Num":23}
print(cliente_banc)
print("¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡")
cliente_banc.pop("Tarjetas")
print(cliente_banc)

{'ID': 1, 'Nombre': ['Juan', 'Antonio'], 'Ap Paterno': 'García', 'Ap Materno': 'García', 'Teléfonos': {'Casa': 5538511299, 'Celular': 5512294053, 'Empleo': 5536987452}, 'Activo': True, 'Balance': 234567.89, 'Tarjetas': ({'Tipo': 'Débito', 'Saldo': 120000.0}, {'Tipo': 'Crédito', 'Saldo': 3500.0})}
¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡
{'ID': 1, 'Nombre': ['Juan', 'Antonio'], 'Ap Paterno': 'García', 'Ap Materno': 'García', 'Teléfonos': {'Casa': 5538511299, 'Celular': 5512294053, 'Empleo': 5536987452}, 'Activo': True, 'Balance': 233567.0, 'Tarjetas': ({'Tipo': 'Débito', 'Saldo': 120000.0}, {'Tipo': 'Crédito', 'Saldo': 3500.0})}
¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡
{'ID': 1, 'Nombre': ['Juan', 'Antonio'], 'Ap Paterno': 'García', 'Ap Materno': 'García', 'Teléfonos': {'Casa': 5538511299, 'Celular': 5512294053, 'Empleo': 5536987452}, 'Activo': True, 'Balance': 233567.0, 'Tarjetas': ({'Tipo': 'Debito', 'Saldo': 12000}, {'Tipo': 'Crédito', 'Saldo': 3500.0}, {'Tipo': 'Crédito', 'Nivel': 'Oro', 'Saldo': 50000.0}), 'Dirección': {'Calle': 'Rancho Seco', 'Num': 23}}
¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡
{'ID': 1, 'Nombre': ['Juan', 'Antonio'], 'Ap Paterno': 'García', 'Ap Materno': 'García', 'Teléfonos': {'Casa': 5538511299, 'Celular': 5512294053, 'Empleo': 5536987452}, 'Activo': True, 'Balance': 233567.0, 'Dirección': {'Calle': 'Rancho Seco', 'Num': 23}}

In [23]:
#KEYS, VALUES E ITEMS
#Llaves de diccionarios
llaves = cliente_banc.keys()
print(llaves)
print(type(llaves))
print("_-_-_-_-_-_-_-_-_-_-")
for x in llaves:
  print(x)
print("_-_-_-_-_-_-_-_-_-_-")

#Valores De Diccionarios
valores = cliente_banc.values()
for v in valores:
  print(v)
print("_-_-_-_-_-_-_-_-_-_-")

#Pares, LLave y Valor
pares= cliente_banc.items()
print(pares)

for elem in pares:
  print(f"{elem[0]} = {elem[1]}")

dict_keys(['ID', 'Nombre', 'Ap Paterno', 'Ap Materno', 'Teléfonos', 'Activo', 'Balance', 'Dirección'])
<class 'dict_keys'>
_-_-_-_-_-_-_-_-_-_-
ID
Nombre
Ap Paterno
Ap Materno
Teléfonos
Activo
Balance
Dirección
_-_-_-_-_-_-_-_-_-_-
1
['Juan', 'Antonio']
García
García
{'Casa': 5538511299, 'Celular': 5512294053, 'Empleo': 5536987452}
True
233567.0
{'Calle': 'Rancho Seco', 'Num': 23}
_-_-_-_-_-_-_-_-_-_-
dict_items([('ID', 1), ('Nombre', ['Juan', 'Antonio']), ('Ap Paterno', 'García'), ('Ap Materno', 'García'), ('Teléfonos', {'Casa': 5538511299, 'Celular': 5512294053, 'Empleo': 5536987452}), ('Activo', True), ('Balance', 233567.0), ('Dirección', {'Calle': 'Rancho Seco', 'Num': 23})])
ID = 1
Nombre = ['Juan', 'Antonio']
Ap Paterno = García
Ap Materno = García
Teléfonos = {'Casa': 5538511299, 'Celular': 5512294053, 'Empleo': 5536987452}
Activo = True
Balance = 233567.0
Dirección = {'Calle': 'Rancho Seco', 'Num': 23}

In [25]:
#Anexar Diccionarios a otros Diccionarios

fruta = {"Nombre":"Manzana", "Color":"Rojo", "Estado":"Chihuahua"}
otras_caract = {"Vítaminas":"D"}
print(fruta)
fruta.update(otras_caract) #Agrega otras_caract al final
print(fruta)

{'Nombre': 'Manzana', 'Color': 'Rojo', 'Estado': 'Chihuahua'}
{'Nombre': 'Manzana', 'Color': 'Rojo', 'Estado': 'Chihuahua', 'Vítaminas': 'D'}

#Funciones

-  Recibe de 0 a n argumentos de entrada.
-  Regresa solo un valor, aunque ese valor sea None.
-  Tiene un nombre único en el contecto.
-  Se pueden hacer solo dos cosas con funciones:
    - Definirla 

    - Llamarla

In [1]:
def suma(a,b):
  return a+b

def saludar():
  print ("Hola, ¿cómo estas?")
  return None

x = 10
y = 20
c = suma(x,y)

print(c)
saludar()

30
Hola, cómo edtas?

#None y las funciones
Aprovechar el uso de none en paso de parametros

In [27]:
def calcular(base, veces):
  if base != None: 
    resul = base * veces
  else:
    resul = "¡Error!"
  return resul
print (calcular(4,3))
print (calcular(None,3))

12
¡Error!